<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.myaseendv.zainmall" android:versionName="1.0" android:versionCode="1" xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="30" android:minSdkVersion="21" />
	<application android:theme="@style/MainTheme" android:label="Zain Mall" android:icon="@drawable/AppIco" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE" />
</manifest>